body
{
    margin: 0;
}

#navbar-hero
{
    background-color: #FFFF;
}
#hero
{
    display: flex;
    padding: 0 7.75rem;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    align-self: stretch;
    margin-top: 2rem;
}
#about_me
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030712;
    gap: 1.5rem;
    padding: 4.875rem 11.75rem 0 11.75rem;
    text-align: center;
}
#services
{
    display: flex;
    padding: 4rem 7.75rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

#works
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D1D5DB;
    gap: 1.5rem;
    padding: 3.125rem 7.75rem 3.3125rem 7.75rem;
    text-align: center;
}

#skills
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4.625rem;
}

footer
{
    display: flex;
    align-items: flex-start;
    background: #D1D5DB;
    padding: 7.75rem 4.45rem 4.45rem 4.45rem;
}

.information
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex: 1 0 0;
    height: fit-content;
}
.information>*:nth-child(2) {
    margin-top: 1rem;
    /* Відстань між 1 і 2 */
}

.information>*:nth-child(3) {
    margin-top: 4rem;
    /* Відстань між 2 і 3 */
}

.information>*:nth-child(4) {
    margin-top: 2rem;
    /* Відстань між 3 і 4 */
}

.information>*:nth-child(5) {
    margin-top: 8rem;
    /* Відстань між 5 і 6 */
}

.grid_information
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3.75rem;
}

.contact
{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.social_icons
{
    display: flex;
    gap: 1.5rem;

}

h5 {
    color: #212121;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 1.575rem */
    letter-spacing: 0.0125rem;
}

h3 {
    color: #1F1F1F;
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0;
}

h2
{
    color: #FFF;
    text-align: center;
    /* text-4xl/font-bold */
    font-family: Montserrat, serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0;
    /* 3.375rem */
}
h1{
    color: #1F1F1F;
    /* text-5xl/font-bold */
    font-family: Montserrat, serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0;
    /* 4.5rem */
}
p{
    color: #1F1F1F;
    /* text-base/font-normal */
    font-family: Montserrat, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0;
}

.white
{
    color: white;
}
.black
{
    color: #1F1F1F
}

.center
{
    text-align: center;
}

.bold
{
    font-weight: bold;
}

.normal
{
    font-weight: normal;
}
.flex-circle {
    position: absolute;
    left: 25%;
    /* Зсув вліво */
    top: 0;
    /* Відправляємо коло на задній фон */
}


.flex-circle svg {
    width: 9.125rem;
    height: 9.125rem;
}

.navbar
{
    display: flex;
    padding: 0 7.75rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: transparent;
}

.logo
{
    color: #030712;
    font-size: 30px;
    font-family: "Inter", serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    word-wrap: break-word;
    z-index: 1;
    
}

.arrow
{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.navbar-item
{
    color: #1F1F1F;
    font-family: Montserrat, serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 1.4625rem */
    z-index: 1;
}

.button_black
{
    background: #1F1F1F;
    padding: 0.75rem 1.5rem;
    gap: 0.625rem;
    font-family: Montserrat, serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 1.4625rem */
    color: white;
    box-shadow: none;
    border: none;
    width: fit-content;
}
.button_black:hover
{
    background: #6B7280;
    cursor: pointer;
}

/* Гамбургер-меню за замовчуванням приховане */
.hamburger-menu {
    display: none;
}


.hero-title{
display: flex;
padding: 4rem 0 5rem 0;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
flex: 1 0 0;
align-self: stretch;
}

.cat
{
    width: 28rem;
    height: 28rem;
    flex-shrink: 0;
}

.grid_services
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;

}

.service{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.technologies
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-field, .message-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Montserrat, serif;
}

.message-field {
    height: 10.5rem;
}

@media screen and (max-width: 870px ) 
{
.navbar {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem 0;
         padding: 0 1.75rem;
    }

    #hamburger-icon {
        display: block;
    }

    #hero
    {
        align-items: center;
        flex-wrap: wrap;
        /* Дозволяє елементам переноситися */
        padding: 0 2rem;
    }

    #about_me{
        padding: 2.25rem 2.5rem 0 2.25rem ;
    }

    #services
    {
        padding: 4rem 1.75rem;
    }

    #works
    {
        padding: 2.25rem;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .cat
    {
        width: 23rem;
        height: 23rem;
    }

    .arrow
    {
        display: none;
    }

    .grid_services{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    .technologies
    {
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .technologies > img
    {
        width: auto;
        height: 4.25rem;
    }

    .grid_information
    {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
        gap: 2.75rem;
        
    }
  footer
  {
    padding: 4.45rem 2.5rem;
  }
  .information>*:nth-child(2) {
      margin-top: 1rem;
      /* Відстань між 1 і 2 */
  }

  .information>*:nth-child(3) {
      margin-top: 2rem;
      /* Відстань між 2 і 3 */
  }

  .information>*:nth-child(4) {
      margin-top: 2rem;
      /* Відстань між 3 і 4 */
  }
  .information>*:nth-child(5) {
      margin-top: 2rem;
      /* Відстань між 5 і 6 */
  }
}